@media(min-width: 420px) {
    .header {
        &__link:hover {
            color: #8f929a;
        }
        &__button:hover {
            background-color: #F53855;

            &:hover p {
                color: #fff;
            }
        }
        &-start__button:hover {
            background-color: #ec7c7c;
        }
    }

    .arrow {
        &:hover {
            background: #F53838;
            box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);

            svg path {
                fill: #fff;
            }
        }
    }

    .to-top__block {
        &:hover {
            background: #F53838;

            svg path {
                fill: #fff;
            }
        }
    }

    .special-block__button:hover {
        background-color: #ec7c7c;
    }

    .footer__accordion {
        display: none;
    }
}

@media(max-width: 420px) {
    .container {
        max-width: 372px;
    }

    body.active {
        overflow: hidden;
    }
    .header {
        &__logo-block {
            z-index: 5;

            img {
                width: 126px;
                height: 25px;
            }
        }
        &-nav__list {
            flex-direction: column;
        }
        &__link {
            width: 48px;
            font-size: 0.875rem;
        }
        &__button {
            width: 5.188rem;
            height: 1.563rem;
    
            p {
                font-size: 0.875rem;
            }
        }
        &__buttons-block {
            position: relative;
            gap: 10px;
            padding-left: 20px;
            z-index: 5;
        }
    }
    .section__header {
        min-height: 25px;
        padding: 26px 0;
    }
    .header::before {
        z-index: 3;
    }
    .header__header-nav.active {
        transform: translate(0, 0);
    }
    .header__header-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        text-align: center;
        padding: 80px 10px 30px 10px;
        transition: all .3s linear;
        transform: translate(0, -100%);
    }
    .header-nav__item {
        font-size: 2rem;
    }
    .header__buttons-block {
        padding-right: 30px;
    }
    .header__burger {
        display: inline-block;
        width: 40px;
        height: 24px;
        position: relative;
        z-index: 5;
        order: 3;
    }
    .header__burger span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #21243D;
        position: absolute;
        left: 5px;
        transition: all 0.3s linear;
    }
    .header__burger span:first-child {
        top: 0px;
    }
    .header__burger span:nth-child(2),
    .header__burger span:nth-child(3) {
        top: 11px;
    }
    .header__burger span:last-child {
        top: 22px;
    }
    .header__burger.active span:first-child,
    .header__burger.active span:last-child {
        display: none;
    }
    .header__burger.active span:nth-child(2) {
        transform: rotate(45deg);
    }
    .header__burger.active span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .section {
        &__header-start {
            padding-top: 70px;
            min-height: 100px;
        }
        &__img-block {
            display: none;
        }
    }
    .header-start {
        &__content-block {
            text-align: center;
            width: 21.25rem;
            align-items: center;
        }
        &__header {
            font-size: 1.875rem;
            line-height: 2.25rem;
        }
        &__text {
            line-height: 1.563rem;
            padding-top: 12px;
            padding-bottom: 22px;
        }
        &__button {
            width: 11.75rem;
            height: 2.813rem;
    
            p {
                font-size: 0.875rem;
            }
        }
        &__button-blur {
            width: 9.375rem;
            height: 2.813rem;
            filter: blur(24px);
            top: 12px;
            left: 15px;
        }
    }

    .section__info {
        min-height: 200px;
        padding-top: 80px;
    }
    .info {
        &__info-block {
            width: 21.25rem;
            flex-direction: column;
            padding: 26px;
        }
        &__block {
            gap: 22px;
            align-items: center;
            min-height: 50px;

            &:first-child {
                padding: 50px;
            }
            &:nth-child(2) {
                padding: 50px;
            }
            &:last-child {
                padding: 50px;
            }
            &:not(:last-child) {
                border-right: 0;
                border-bottom: 2px solid #EEEFF2;
            }
        }
        &__icon-block img {
            width: 40px;
            height: 40px;
        }
        &__text-block {
            gap: 0;
        }
        &__numbers {
            font-size: 1.25rem;
            line-height: 1.475rem;
        }
        &__name {
            font-size: 1.125rem;
            line-height: 1.475rem;
        }
        &__blur-block {
            width: 18.75rem;
            height: 25rem;
            filter: blur(50px);
            top: 15px;
            left: 20px;
        }
    }

    .section__features-content {
        min-height: 200px;
        padding-top: 30px;
        padding-bottom: 65px;
    }
    .features-content {
        display: flex;
        justify-content: flex-end;
        gap: 170px;
        
        &__image-block {
            display: none;
        }
        &__content-block {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 54px;
        }
        &__header-block {
            width: 21.25rem;
        }
        &__header {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
        &__text-block {
            width: 21.25rem;
        }
        &__list {
            gap: 6px;
        }
        &__item {
            font-size: 0.875rem;
            padding-left: 32px;
        }
    }

    .section__plan {
        min-height: 200px;
    }
    .plan {
        gap: 30px;
        padding-bottom: 60px;
    
        &__title-block {
            gap: 10px;
            padding-top: 40px;
        }
        &__title-header {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
        &__title-text-block {
            width: 21.25rem;
        }
        &__plans-block {
            flex-direction: column;
            gap: 20px;
        }
        &__plan-block {
            width: 20.625rem;
            height: 21rem;
            border-radius: 10px;
            padding: 35px 70px 20px 70px;
        }
        &__img-block {
            display: none;
        }
        &__text-block {
            gap: 6px;
        }
        &__header {
            font-size: 1.125rem;
            line-height: 1.6rem;
        }
        &__list {
            gap: 0;
        }
        &__item {
            font-size: 0.875rem;
            line-height: 1.6rem;
        }
        &__price-button-block {
            gap: 6px;
        }
        &__price {
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
        &__button {
            width: 9.125rem;
            height: 2.188rem;
            border-radius: 50px;
    
            p {
                font-size: 0.9rem;
            }
        }
        &__button-blur {
            width: 6.25rem;
            height: 2.188rem;
            filter: blur(27px);
            top: 11px;
            left: 13px;
        }
    }

    .map {
        gap: 35px;
    
        &__title-block {
            gap: 10px;
        }
        &__header-block {
            width: 21.25rem;
        }
        &__header {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
        &__text-block {
            width: 21.25rem;
        }
    }

    .section__companies {
        min-height: 60px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .companies {
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        align-items: center;

        &__img-block img {
            width: 107px;
            height: 32px;
        }
    }

    .section__carousel {
        min-height: 200px;
        padding-bottom: 182px;
    }
    .carousel {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    
        &__title-block {
            gap: 8px;
        }
        &__header-block {
            width: 21.25rem;
        }
        &__header {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
        &__text-block {
            width: 21.25rem;
        }
        &__coments {
            width: 340px;
        }
        &__coment {
            gap: 10px;
            width: 21.25rem;
            height: 15.375rem;
            padding: 30px 30px 0 30px;
        }
        &__coment-person {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__info-block {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &__person-info-block {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &__coment-name {
            font-size: 1.125rem;
        }
        &__coment-country {
            font-size: 0.875rem;
        }
        &__coment-score-block {
            display: flex;
            align-items: center;
            gap: 11px;
        }
        &__coment-score {
            color: #0B132A;
        }
        &__coment-text-block {
            display: flex;
            flex-wrap: wrap;
            width: 17.25rem;
        }
        &__coment-text {
            line-height: 1.625rem;
            color: #0B132A;
        }
    }

    .special-block {
        &__block {
            width: 21.25rem;
            flex-direction: column;
            gap: 15px;
            padding: 20px 30px;
        }
        &__blur-block {
            width: 20rem;
            height: 13.75rem;
            filter: blur(54px);
            top: 8px;
            left: 15px;
        }
        &__content-block {
            text-align: center;
            gap: 4px;
        }
        &__header-block {
            width: 17.5rem;
        }
        &__header {
            font-size: 1.5rem;
            line-height: 2.1rem;
        }
        &__button {
            width: 11.75rem;
            height: 2.813rem;
    
            p {
                font-size: 0.875rem;
            }
        }
        &__btn-blur {
            width: 9.375rem;
            height: 2.813rem;
            filter: blur(24px);
            top: 12px;
            left: 15px;
        }
    }

    .section__footer {
        position: relative;
        background-color: #F8F8F8;
        min-height: 100px;
        padding-top: 160px;
        padding-bottom: 100px;
    }
    .footer {
        flex-direction: column;
        gap: 20px;
    
        &__content-block {
            text-align: center;
            align-items: center;
            gap: 10px;
        }
        &__text-icons-block {
            align-items: center;
            gap: 15px;
        }
        &__text-block {
            width: 21.25rem;
        }
        &__icons-block {
            display: flex;
            gap: 20px;
        }
        &__foot-text {
            display: none;
        }
        &__menu-blocks {
            display: none;
        }
        &__menu {
            gap: 0;
        }
    }

    .accordion-button:not(.collapsed) {
        color: #0B132A;
        background-color: #fff;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .accordion-button:focus {
        box-shadow: none;
    }
}